@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *:before,
  *:after {
    @apply box-border;
  }

  ::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
  }

  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }

  a {
    @apply no-underline outline-none;
  }
  a:not(.link-reset):hover,
  a:not(.link-reset):focus {
    background-image: linear-gradient(var(--text), var(--text));
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  ul {
    @apply list-disc list-inside;
  }
}
